<!-- Parameters for the CAFFE classifier -->
<launch>
  <!-- 'node' gets passed in as an argument to this file -->
  <arg name="node" /> 
  
  <param name="$(arg node)/lenet_params_dir" value="$(find gpd)/lenet/15channels/params/" />
  
  <!-- Grasp Image Parameters -->
  <param name="$(arg node)/image_outer_diameter" value="0.10" /> 
  <param name="$(arg node)/image_depth" value="0.06" />
  <param name="$(arg node)/image_height" value="0.02" />
  <param name="$(arg node)/image_size" value="60" />  
  <param name="$(arg node)/image_num_channels" value="15" />  
</launch>
